# Editor and macOS local artifacts.
.DS_Store
.idea/

/subsonic_playlists
/subsonic_server
!/examples/subsonic_playlists/
!/examples/subsonic_playlists/**
!/examples/subsonic_server/
!/examples/subsonic_server/**
